<div class="alert alert-warning" role="alert">
    Keep these credentials secret !
  </div>
<form>
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">username</label>
      <div class="col">
        <input type="text" class="form-control" id="username" value="{{current_user.mqtt_username}}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">password</label>
      <div class="col">
        <input type="text" class="form-control" id="password" value="{{current_user.mqtt_password}}" readonly>
      </div>
    </div>
  </form>