<!-- new/edit  device form modal -->
<div class="modal fade" id="new_device_modal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-light">
        <h5 class="modal-title">New Device</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('devices')}}" id="device_form" method="POST">
          <div class="form-group">
            <label for="name">Device Name</label>
            <input class="form-control" id="name" name="name"  placeholder="Device name" type="text">
          </div>

          <div class="form-group">
            <label for="place">Place</label>
            <input class="form-control" id="place"  name="place" placeholder="Device place" type="text">
          </div>

        <div class="form-group">
            <label for="port">Place</label>
            <input class="form-control" id="port"  name="port" placeholder="Port number" type="number">
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select class="custom-select" id="type" name="type">
              <option selected>Open this select menu</option>
              <option value="switch">Switch</option>
              <option value="sensor">Sensor</option>
            </select>

          </div>

          <div class="border-top p-2">
            <button class="btn btn-primary" type="submit">Add</button>
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

</script>