<!-- new option only available for logged in users -->
<div class="options p-2">
    <div class="d-flex w-100 bg-white justify-content-between shadow-sm p-2">
        <button class="btn btn-sm btn-primary my-1" id="add_device" data-toggle="modal" data-target="#new_hub_modal"
                data-action="" data-title="New Device" data-name="">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 22" width="20" height="20">
            <rect width="3" height="11" x="6.5" y="5.5" fill="#ffffff"/>
            <rect width="11" height="3" x="2.5" y="9.5" fill="#ffffff"/>
          </svg>
        </span>
            <span class="p-1">new</span>
        </button>
    </div>
</div>

{% include "_modal_new_hub.html"%}