<div class="p-2 my-2 bg-white shadow rounded-lg">
<h4><span class="badge badge-dark px-3 mb-2">Sensors</span></h4>
<div class="d-flex flex-wrap mx-0 mx-md-2 device-list" id="sensorList">
    {% for device in sensor_devices %}
    <div class="device d-flex m-1 p-1 bg-white rounded-pill shadow-sm" id="{{device.id}}">
     <div class="bg-light m-1 rounded-circle text-center p-2 border border-secondary">
            <span class="text-small" data-target="sensor" data-topic_name="{{device.topic}}" style="font-size: 1.5rem;line-height: 1.5em;">N/A</span>
        </div>
        <div class="device-details pr-4">
            <div class="device-name" data-target="name">
                <span class="name-icon"><img
                        src="{{url_for('static', filename='icons/name.svg')}}" width="12px"></span>
                <span>{{device.name}}</span>
            </div>
            <div class="device-place" data-target="place"><span class="place-icon"><img
                    src="{{url_for('static', filename='icons/place.svg')}}" width="12px"></span>
                <span>{{device.place}}</span>
            </div>
            <div class="device-port badge"><span class="port-icon"><img
                    src="{{url_for('static', filename='icons/port.svg')}}" width="12px"></span>
                <span>{{device.port}}</span>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info"> You have no sensors yet. Head to Management tab and start adding devices now. </div>
    {% endfor %}
</div>
</div>
