{%  extends 'base_template.html'%}
{%block content%}

<section class="container col-sm-10 col-md-6">
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
            <div class='alert alert-warning'>
                {{message}}
            </div>
            {% endfor%}
        {% endwith %}
    <div class="card m-auto">
        <div class="card-header text-dark">Login</div>
        <div class="card-body">
            <form id="loginForm" method="POST" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email" value=""
                        placeholder="Email" required>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" value=""
                        placeholder="Password" required>
                    <div class="invalid-feedback"></div>
                </div>
                
                <div class="border-top p-2">
                    <button type="submit" class="btn btn-sm btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>

{%endblock%}    
<!-- 
<form action="" method="POST">
    <input type="email" name="email" id="">
    <input type="password" name="password" id="">
    <input type="submit" name="" id="">

</form> -->